{% extends 'base.html' %}
{% load static %}
{% block content %}
            <div class="owl-carousel owl-theme slider-main">
                <div class="item">
                    <img
                        src="{% static 'images/slide-1.jpg' %}"
                        alt="slider images"
                        class="img-fluid"
                    />
                    <div class="img-overlay"></div>
                    <div class="caption">
                        <div class="container">
                            <div class="header-content">
                                <h1>
                                    Professional Solutions or Visa &
                                    Immigrations
                                </h1>
                                <h4>
                                    Your Future Awaits: Choose Smart, Immigrate
                                    with Confidence
                                </h4>
                                <button
                                    type="button"
                                    class="btn btn-theme mt-5"
                                >
                                    Contact Us
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img
                        src="{% static 'images/slide-2.jpg' %}"
                        alt="slider images"
                        class="img-fluid"
                    />
                    <div class="img-overlay"></div>
                    <div class="caption">
                        <div class="container">
                            <div class="header-content">
                                <h1>
                                    Professional Solutions or Visa &
                                    Immigrations
                                </h1>
                                <h4>
                                    Your Future Awaits: Choose Smart, Immigrate
                                    with Confidence
                                </h4>
                                <button
                                    type="button"
                                    class="btn btn-theme mt-5"
                                >
                                    Contact Us
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img
                        src="{% static 'images/slide-1.jpg' %}"
                        alt="slider images"
                        class="img-fluid"
                    />
                    <div class="img-overlay"></div>
                    <div class="caption">
                        <div class="container">
                            <div class="header-content">
                                <h1>
                                    Professional Solutions or Visa &
                                    Immigrations
                                </h1>
                                <h4>
                                    Your Future Awaits: Choose Smart, Immigrate
                                    with Confidence
                                </h4>
                                <button
                                    type="button"
                                    class="btn btn-theme mt-5"
                                >
                                    Contact Us
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img
                        src="{% static 'images/slider-1.png' %}"
                        alt="slider images"
                        class="img-fluid"
                    />
                    <div class="img-overlay"></div>
                    <div class="caption">
                        <div class="container">
                            <div class="header-content">
                                <h1>
                                    Professional Solutions or Visa &
                                    Immigrations
                                </h1>
                                <h4>
                                    Your Future Awaits: Choose Smart, Immigrate
                                    with Confidence
                                </h4>
                                <button
                                    type="button"
                                    class="btn btn-theme mt-5"
                                >
                                    Contact Us
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img
                        src="{% static 'images/slider-2.jpg' %}"
                        alt="slider images"
                        class="img-fluid"
                    />
                    <div class="img-overlay"></div>
                    <div class="caption">
                        <div class="container">
                            <div class="header-content">
                                <h1>Where Careers Fly High</h1>
                                <h4>
                                    Elevate your career to new heights with
                                    limitless opportunities and success!
                                </h4>
                                <button
                                    type="button"
                                    class="btn btn-theme mt-5"
                                >
                                    Contact Us
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="item">
                    <img
                        src="images/slider-3.jpg"
                        alt="slider images"
                        class="img-fluid"
                    />
                    <div class="img-overlay"></div>
                    <div class="caption">
                        <div class="container">
                            <div class="header-content">
                                <h1>The Smart Choice for Future</h1>
                                <h4>
                                    We help entrepreneurs, start-ups and
                                    enterprises shape their ideas into products
                                </h4>
                                <button
                                    type="button"
                                    class="btn btn-theme mt-5"
                                >
                                    Contact Us
                                </button>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </header>
        <section class="home-about pb-lg-5">
            <div class="container">
                <div class="row mb-lg-5">
                    <div class="col-lg-4">
                        <div class="gradient-box">
                            <div class="gradient-card">
                                <div class="icon-box"></div>
                                <div class="gradient-box-content">
                                    <h3 class="mb-3">
                                        Immigration and visa process
                                    </h3>
                                    <p>
                                        From Dreams to Destinations: Your
                                        Trusted Visa Partner!
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="gradient-box">
                            <div class="gradient-card">
                                <div class="icon-box"></div>
                                <div class="gradient-box-content">
                                    <h3 class="mb-3">
                                        Quick & Easy Visa Application
                                    </h3>
                                    <p>
                                        Visa Applications Made Simple: Quick,
                                        Easy, Stress-Free!
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="gradient-box">
                            <div class="gradient-card">
                                <div class="icon-box"></div>
                                <div class="gradient-box-content">
                                    <h3 class="mb-3">
                                        Expert & Experince Consultants
                                    </h3>
                                    <p>
                                        Navigating Immigration with Confidence:
                                        Expert Guidance Every Step!
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="countries-offer py-5">
            <div class="container py-5">
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="title-head mb-5 col-lg-6 col-12 mx-auto">
                            <p class="subhead">Countries We Offer</p>
                            <h1 class="mainhead">
                                Countries we support for the immigration
                            </h1>
                        </div>
                    </div>
                    
                    <div class="owl-carousel owl-theme country-list">
                    	{% for country in countries %}
                        <div class="country-item">
                        	
                            <div class="item-image-body">
                                <img
                                    src="{{ country.country_image.url }}"
                                    alt="{{ country.country_name }}"
                                    class="img-fluid"
                                />
                                <div class="img-overlay-icon flex-center">
                                    <i class="bi bi-arrow-up-right"></i>
                                </div>
                            </div>

                            <div class="fig-caption mt-5">{{ country.name }}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
        <section class="about-section py-lg-5">
            <div class="container">
                <div class="row py-5">
                    <div class="col-lg-6">
                        <div class="pic-banner">
                            <div class="about-pic-full">
                                <div class="card-image">
                                    <img
                                        src="{% static 'images/slider-4.jpg' %}"
                                        alt=""
                                        class="img-fluid"
                                    />
                                </div>
                            </div>
                            <div
                                data-aos="fade-right"
                                data-aos-duration="2200"
                                class="about-pic-thumbnail"
                            >
                                <img
                                    src="{% static 'images/about-thumbnail.png' %}"
                                    alt=""
                                    class="img-fluid"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 ps-lg-5">
                        <div class="home-about-content">
                            <div
                                class="title-head mb-5"
                                data-aos="fade-down"
                                data-aos-duration="2500"
                            >
                                <p class="subhead">WHO WE ARE</p>
                                <h1 class="mainhead">
                                    Best Immigration & Visa Consultation.
                                </h1>
                            </div>
                            <div
                                class="content"
                                data-aos="fade-up"
                                data-aos-duration="2000"
                            >
                                <p>
                                    Welcome to South Gate Immigration, your
                                    trusted partner in turning dreams of working
                                    abroad into reality. Based in the heart of
                                    Kerala, we specialize in comprehensive
                                    recruitment services, work visa
                                    facilitation, VFS assistance, and expert
                                    guidance on European visas. Our mission is
                                    to connect talented individuals with
                                    promising job opportunities across Europe,
                                    helping them embark on successful
                                    international careers. At South Gate
                                    Immigration, we are committed to bridging
                                    the gap between talent and opportunity,
                                    empowering you to take the next step in your
                                    professional journey.
                                </p>
                            </div>
                            <div
                                class="about-features-list d-flex"
                                data-aos="fade-up"
                                data-aos-duration="2200"
                            >
                                <div
                                    class="icon-details d-flex align-items-center mt-4"
                                >
                                    <div class="icon">
                                        <i class="bi bi-airplane"></i>
                                    </div>
                                    <div class="col pe-lg-5">
                                        <h5>Expertise Visa Process</h5>
                                    </div>
                                </div>
                                <div
                                    class="icon-details d-flex align-items-center mt-4"
                                >
                                    <div class="icon">
                                        <i class="bi bi-airplane"></i>
                                    </div>
                                    <div class="col">
                                        <h5>Fastest Working Process</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="point-wrapper mt-5">
                                <div
                                    class="list-features d-flex align-items-center mb-3"
                                >
                                    <div class="arrow-icon flex-center">
                                        <i class="bi bi-arrow-right-short"></i>
                                    </div>
                                    <div class="features">
                                        <p class="fw-bold">
                                            We strongly support best practice
                                        </p>
                                    </div>
                                </div>

                                <div
                                    class="list-features d-flex align-items-center"
                                >
                                    <div class="arrow-icon flex-center">
                                        <i class="bi bi-arrow-right-short"></i>
                                    </div>
                                    <div class="features">
                                        <p class="fw-bold">
                                            Our operations around the world and
                                            across
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <a
                                href="aboutus.html"
                                type="button"
                                class="btn btn-theme mt-5"
                                >Read More</a
                            >
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="marquee-section">
            <div class="marquee">
                <div class="marquee-content">
                    <div class="text">Visa Consultancy</div>
                    <i class="bi bi-airplane"></i>
                    <div class="text">Immigrations</div>
                    <i class="bi bi-airplane"></i>
                    <div class="text">Tours & Travel Agency</div>
                    <i class="bi bi-airplane"></i>
                    <div class="text">Help in Documentation</div>
                    <i class="bi bi-airplane"></i>
                    <div class="text">Visa Processing</div>
                    <i class="bi bi-airplane"></i>
                    <div class="text">Travel Partners</div>
                    <i class="bi bi-airplane"></i>
                </div>
                <div aria-hidden="true" class="marquee-content">
                    <div class="text">Visa Consultancy</div>
                    <i class="bi bi-airplane"></i>
                    <div class="text">Immigrations</div>
                    <i class="bi bi-airplane"></i>
                    <div class="text">Tours & Travel Agency</div>
                    <i class="bi bi-airplane"></i>
                    <div class="text">Help in Documentation</div>
                    <i class="bi bi-airplane"></i>
                    <div class="text">Visa Processing</div>
                    <i class="bi bi-airplane"></i>
                    <div class="text">Travel Partners</div>
                    <i class="bi bi-airplane"></i>
                </div>
            </div>
        </section>
        <section class="home-service py-5">
            <div class="container pt-5">
                <div class="row">
                    <div class="col-12">
                        <div
                            class="title-head mb-5 text-center mx-auto col-lg-6 col-12"
                            data-aos="fade-down"
                            data-aos-duration="2500"
                        >
                            <p class="subhead text-white">OUR SERVICE</p>
                            <h1 class="mainhead pe-lg-5 ps-lg-5 text-white">
                                Outstanding  Immigration Visa Services
                            </h1>
                        </div>
                    </div>
                </div>
                <div class="row pb-5 mb-5">
                    {% for service in services %}
                    <div class="col-lg-4">
                        
                        <div class="item-card">
                            <div class="item-card-image card-image">
                                <img
                                    src="{{ service.service_image.url }}"
                                    alt="Service Pic"
                                    class="img-fluid"
                                />
                            </div>
                            <div class="card-body">
                                <div class="card-inner">
                                    <div
                                        class="head d-flex align-items-center justify-content-between"
                                    >
                                        <h5>
                                            <a href="#">{{ service.title }}</a>
                                        </h5>
                                        <div class="card-inner-icon">
                                            <i class="bi bi-passport"></i>
                                        </div>
                                    </div>
                                    <div class="content pt-3">
                                        <p>
                                            At South Gate Immigration, we
                                            specialize in job placement services
                                            for both skilled and unskilled
                                            workers, connecting them with
                                            reputable employers worldwide. Our
                                            extensive network across Europe
                                            opens the door to a diverse array of
                                            job opportunities, carefully
                                            tailored to match each individual's
                                            expertise and experience. Whether
                                            you're seeking your fi rst job
                                            abroad or looking to advance your
                                            career, we are here to support you
                                            every step of the way.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                    {% endfor %}
                   
                    <div class="col-12 text-center">
                        <a href="{% url 'servicedetails' service_id=1 sfaqid=1 %}" class="btn btn-theme mt-5"
                            >Read More</a
                        >
                    </div>
                </div>
            </div>
            <div class="height-adjusted"></div>
        </section>
        <section class="py-5 position-relative why-choose-info">
            <div class="container top-aligned-section">
                <div class="row g-0">
                    <div class="col-lg-5">
                        <div class="col-left-bg">
                            <div class="title-head mb-5">
                                <h1 class="mainhead text-white">
                                    We Ensure Prompt Services For Visa &
                                    Immigration
                                </h1>
                            </div>
                            <div class="list-features d-flex mb-4">
                                <div class="arrow-icon flex-center">
                                    <i class="bi bi-arrow-right"></i>
                                </div>
                                <div class="features">
                                    <h5>Fastest Working Process</h5>
                                    <p class="text-white">
                                        We pride ourselves on our effcient and
                                        streamlined immigration process,
                                        designed to get you to your destination
                                        as quickly as possible.
                                    </p>
                                </div>
                            </div>
                            <div class="list-features d-flex mb-4">
                                <div class="arrow-icon flex-center">
                                    <i class="bi bi-arrow-right"></i>
                                </div>
                                <div class="features">
                                    <h5>Expertise visa Processing</h5>
                                    <p class="text-white">
                                        Our expertise in visa processing sets us
                                        apart. Navigating visa applications can
                                        be challenging, but our dedicated team
                                        of professionals is here to guide you
                                        every step of the way.
                                    </p>
                                </div>
                            </div>
                            <div class="list-features d-flex">
                                <div class="arrow-icon flex-center">
                                    <i class="bi bi-arrow-right"></i>
                                </div>
                                <div class="features">
                                    <h5>Expert Support Panel</h5>
                                    <p class="text-white">
                                        Our Expert Support Panel provides
                                        comprehensive guidance for your
                                        immigration journey, featuring seasoned
                                        professionals with in-depth knowledge of
                                        immigration laws to meet your unique
                                        needs
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 right-side-column-full ps-lg-5 py-5">
                        <div class="right-side-inner">
                            <div class="title-head mb-5">
                                <p class="subhead">WHY CHOOSE US</p>
                                <h1 class="mainhead">
                                    We are professional Expert in Immigration
                                </h1>
                            </div>
                            <div class="right-column-full-content">
                                <p>
                                    Our dedicated consultants are here to offer
                                    reliable advice and support, making your
                                    immigration experience smooth and efficient.
                                </p>
                            </div>
                            <div class="progress-block py-5">
                                <div
                                    class="d-flex justify-content-between"
                                    style="width: 75%"
                                >
                                    <label>visa consultation</label>
                                    <!-- <span>75%</span> -->
                                    <p class="counter">
                                        <span class="counterup">75</span>%
                                    </p>
                                </div>
                                <div
                                    class="progress"
                                    role="progressbar"
                                    aria-label="Basic example"
                                    aria-valuenow="75"
                                    aria-valuemin="0"
                                    aria-valuemax="100"
                                >
                                    <div
                                        class="progress-bar"
                                        style="width: 75%"
                                    ></div>
                                </div>
                                <div
                                    class="d-flex justify-content-between"
                                    style="width: 90%"
                                >
                                    <label>immigration consultancy</label>
                                    <!-- <span>90%</span> -->
                                    <p class="counter">
                                        <span class="counterup">90</span>%
                                    </p>
                                </div>
                                <div
                                    class="progress mb-0"
                                    role="progressbar"
                                    aria-label="Basic example"
                                    aria-valuenow="90"
                                    aria-valuemin="0"
                                    aria-valuemax="100"
                                >
                                    <div
                                        class="progress-bar"
                                        style="width: 90%"
                                    ></div>
                                </div>
                            </div>
                            <div class="call-section d-flex">
                                <div class="call-icon flex-center">
                                    <i class="bi bi-telephone"></i>
                                </div>
                                <div class="call-us">
                                    <h4 class="mb-2">Call for Free</h4>
                                    <h4 class="themecolor">+91 7907596575</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
       
        <section class="testimonials py-5">
            <div class="container py-5">
                <div class="row">
                    <div class="col-12">
                        <div class="title-head text-center mb-5">
                            <p class="subhead text-white">TESTIMONIALS</p>
                            <h1 class="mainhead text-white">
                                What Our Clients Tell About Us
                            </h1>
                        </div>
                    </div>
                    <div class="client-feedback owl-carousel owl-theme">
                        {% for testimonial in testimonials %}
                        <div class="white-card text-center">
                            <div class="avtar">
                                <img
                                    src="{{ testimonial.profile_image.url }}"
                                    alt="User"
                                    class="img-fluid"
                                />
                            </div>
                            <div class="content">
                                <p>
                            {{ testimonial.description }}
                                </p>
                            </div>
                            <div
                                class="d-flex justify-content-around align-items-center"
                            >
                                <div class="white-card-footer mt-4">
                                    <h5 class="themecolor">{{ testimonial.name }}</h5>
                                    <p>{{ testimonial.title }}</p>
                                </div>
                                <div class="video-block flex-center">
                                    <div
                                        class="flex-center"
                                        data-bs-toggle="modal"
                                        data-bs-target="#videoModal"
                                    >
                                        <i class="bi bi-play"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
        <section class="count" id="counter-section">
            <div class="container">
                <div class="row flex-center">
                    <div class="col-lg-4">
                        <div class="counter-bg-img">
                            <img
                                src="{% static 'images/count-bg2.jpg' %}"
                                alt="counter-bg"
                                class="img-fluid"
                            />
                        </div>
                    </div>
                    <div class="col-lg-4 pe-lg-5 ps-lg-5">
                        <div class="title-head text-center mb-3">
                            <h1 class="mainhead">
                                Ready to fly with us your dream country
                            </h1>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="count-list-section">
                            <div class="counter-grid">
                                <div class="counter-container text-center">
                                    <div class="counter-item">
                                        <div class="count-wrapper pb-4">
                                            <h4 class="counter">
                                                <span class="counterup">5</span
                                                >+
                                            </h4>
                                            <p>Visa Categories</p>
                                        </div>
                                    </div>
                                    <p></p>
                                </div>
                                <div class="counter-container text-center">
                                    <div class="counter-item">
                                        <div class="count-wrapper pb-4">
                                            <h4 class="counter">
                                                <span class="counterup">10</span
                                                >K
                                            </h4>
                                            <p>Visa Process</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="counter-container text-center">
                                    <div class="counter-item">
                                        <div class="count-wrapper pb-4">
                                            <h4 class="counter">
                                                <span class="counterup">99</span
                                                >%
                                            </h4>
                                            <p>Success Rate</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="process py-5">
            <div class="container py-5">
                <div class="row">
                    <div class="col-12">
                        <div
                            class="title-head text-center col-lg-5 col-12 mx-auto mb-5"
                        >
                            <p class="subhead">Working Process</p>
                            <h1 class="mainhead">
                                Get your visa approved in 3 easy simple steps
                            </h1>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="process-card">
                            <div class="icon flex-center shadow">
                                <i class="bi bi-file-text-fill"></i>
                            </div>
                            <div class="white-card text-center">
                                <span
                                    class="step-count text-uppercase d-inline-block pb-2"
                                    >step 01</span
                                >
                                <h6 class="pb-3">Complete Registrations</h6>
                                <p>
                                    Effortless registration for
                                    immigration—personalized support for a
                                    smooth, successful process.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="process-card">
                            <div class="icon flex-center shadow">
                                <i class="bi bi-file-text-fill"></i>
                            </div>
                            <div class="white-card text-center">
                                <span
                                    class="step-count text-uppercase d-inline-block pb-2"
                                    >step 02</span
                                >
                                <h6 class="pb-3">Documents and Payments</h6>
                                <p>
                                    Secure document submission and payment
                                    processing for a hassle-free immigration
                                    experience.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="process-card">
                            <div class="icon flex-center shadow">
                                <i class="bi bi-file-text-fill"></i>
                            </div>
                            <div class="white-card text-center">
                                <span
                                    class="step-count text-uppercase d-inline-block pb-2"
                                    >step 03</span
                                >
                                <h6 class="pb-3">Receive your Visa Now</h6>
                                <p>
                                    Get your visa quickly and easily—start your
                                    journey today!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
     {% endblock %}
